<div class="card border-primary mb-3">
  <div class="card-header">USUARIOS REGISTRADOS</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de usuarios</h5>
    <div class="my-2 text-left">
      <!--       <button class="btn btn-rounded btn-primary" [routerLink]="['/usuarios/formUsuario']">Crear usuario</button> -->
      <button
        class="btn btn-rounded btn-primary"
        [routerLink]="['/usuarios/formUsuario']"
      >
        Crear usuario
      </button>
    </div>
    <br>
<div *ngIf="usuarios?.length == 0" class="alert alert-info">
  No hay registros en la base de datos usuarios
</div>
    <table
      class="table table-bordered table-striped"
      *ngIf="usuarios?.length > 0"
    >
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombres</th>
          <th>Ap. Paterno</th>
          <th>Ap. Materno</th>
          <th>Email</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios">
          <td>{{ usuario.id }}</td>
          <td>{{ usuario.nombre }}</td>
          <td>{{ usuario.apePaterno }}</td>
          <td>{{ usuario.apeMaterno }}</td>
          <td>{{ usuario.email }}</td>
          <td>
            <button
              type="button"
              name="editar"
              [routerLink]="['/usuarios/formUsuario', usuario.id]"
              class="btn btn-primary"
            >
              <i class="fas fa-edit"></i>
            </button>
          </td>
          <td>
            <button
              type="button"
              name="eliminar"
              (click)="delete(usuario)"
              class="btn btn-danger"
            >
              <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
